* {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #efefef;
	color: #333333;
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	margin-top: 50px;
}

/* ==========================================================================
General typography
========================================================================== */

h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

h1 {
	font-size: 33px;
}

h2 {
	font-size: 27px;
}

h3 {
	font-size: 23px;
}

h4 {
	font-size: 17px;
}

h5 {
	font-size: 13px;
}

h6 {
	font-size: 12px;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	color: #444444;
}

/* ==========================================================================
Scrollbar.
========================================================================== */

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn {
    border: none;
    border-radius: 0;
}

/* ==========================================================================
Scrollbar.
========================================================================== */

#wrapper {
	padding-left: 0;
}

#page-wrapper {
	width: 100%;
	padding: 5px 15px;
}

/* ==========================================================================
Page head.
========================================================================== */

.page-head:before, .page-head:after {
	content: " ";
	display: table;
}

.page-head:after {
	clear: both;
}

.page-head .page-title {
	display: inline-block;
	float: left;
	padding: 5px 0 10px 0;
}

.page-head .page-title>h1 {
	color: #697882;
	font-size: 22px;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

.page-head .page-title>h1>small {
	color: #9eacb4;
	font-size: 13px;
	font-weight: 400;
}

/* ==========================================================================
Breadcrumbs.
========================================================================== */

.breadcrumb {
	background: none;
	padding: 0 0 15px 0;
	margin: 0;
	color: #c5ccd5;
}

.breadcrumb>li+li:before {
	display: none;
}

.breadcrumb .fa {
	font-size: 6px;
	margin: 0 2px 0 4px;
	position: relative;
	top: -1px;
}

.breadcrumb>.active {
	color: #9eacb4;
}

/* ==========================================================================
Portlets
========================================================================== */

.portlet {
	margin-top: 0px;
	margin-bottom: 25px;
	padding: 0px;
	padding: 12px 20px 15px 20px;
	background-color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.portlet>.portlet-title {
	border-bottom: 1px solid #eee;
	padding: 0;
	margin-bottom: 10px;
	min-height: 41px;
	padding: 0;
	min-height: 48px;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-ms-border-radius: 4px 4px 0 0;
	-o-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.portlet>.portlet-title:before, 
.portlet>.portlet-title:after {
	content: " ";
	display: table;
}

.portlet>.portlet-title:after {
	clear: both;
}

.portlet>.portlet-title>.caption {
	float: left;
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	padding: 10px 0;
	color: #666;
	padding: 10px 0;
}

.portlet>.portlet-title>.caption.bold {
	font-weight: 400;
}

.portlet>.portlet-title>.caption>i {
	float: left;
	margin-top: 4px;
	display: inline-block;
	font-size: 13px;
	margin-right: 5px;
	color: #777;
	font-size: 15px;
	font-weight: 300;
	margin-top: 3px;
}

.portlet>.portlet-title>.caption>.caption-subject {
    font-size: 16px;
	font-weight: 700;
}

.portlet>.portlet-title>.caption>.caption-helper {
    padding: 0;
    margin: 0;
    line-height: 13px;
    color: #9eacb4;
    font-size: 13px;
    font-weight: 400;
}



.portlet.light>.portlet-title>.actions {
    padding: 6px 0 14px;
}
.portlet>.portlet-title>.actions {
    float: right;
    display: inline-block;
    padding: 6px 0;
}

.portlet>.portlet-title>.actions>.btn, 
.portlet>.portlet-title>.actions>.btn-group>.btn, 
.portlet>.portlet-title>.actions>.btn-group>.btn.btn-sm, 
.portlet>.portlet-title>.actions>.btn.btn-sm {
    padding: 4px 10px;
    font-size: 13px;
    line-height: 1.5;
}
.btn.green:not(.btn-outline).active, 
.btn.green:not(.btn-outline).focus, 
.btn.green:not(.btn-outline):active, 
.btn.green:not(.btn-outline):focus, 
.btn.green:not(.btn-outline):hover, 
.open>.btn.green:not(.btn-outline).dropdown-toggle {
    color: #FFF;
    background-color: #26a1ab;
    border-color: #26a1ab;
}
.btn.green:not(.btn-outline) {
    color: #FFF;
    background-color: #32c5d2;
    border-color: #32c5d2;
}




.portlet>.portlet-title>.nav-tabs {
	background: none;
	margin: 0;
	float: right;
	display: inline-block;
	border: 0;
}

.portlet>.portlet-title>.nav-tabs>li {
	background: none;
	margin: 0;
	padding: 0;
	border: 0;
}

.portlet>.portlet-title>.nav-tabs>li>a {
	background: none;
	margin: 5px 0 0 1px;
	border: 0;
	margin: 0;
	padding: 12px 13px 13px 13px;
	font-size: 13px;
	color: #666;
}

.portlet>.portlet-title>.nav-tabs>li.active>a, 
.portlet>.portlet-title>.nav-tabs>li:hover>a {
	color: #333;
	background: #fff;
	border: 0;
	margin: 0;
	background: none;
}

.portlet>.portlet-body {
	clear: both;
	padding-top: 8px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	-ms-border-radius: 0 0 4px 4px;
	-o-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

/* ==========================================================================
Portlets box forms.
========================================================================== */

.portlet.box {
	padding: 0 !important;
	background: #f7f7f7;
	border: 1px solid #d5d5d5;
}

.portlet.box>.portlet-title {
	border-bottom: 0;
	padding: 0 10px;
	margin-bottom: 0;
	color: #813333;
}

.portlet.box>.portlet-title>.caption {
	padding: 14px 0 0 0;
	color: #813333;
}

.portlet.box>.portlet-body {
	background-color: #fff;
	border-top: 1px solid #d5d5d5;
	padding: 10px;
}

/* ==========================================================================
Custom Tabs.
========================================================================== */

.tabbable:before, .tabbable:after {
	content: " ";
	display: table;
}

.tabbable:after {
	clear: both;
}

.tabbable-line>.nav-tabs {
	border: none;
	margin: 0px;
}

.tabbable-line>.nav-tabs>li {
	margin-right: 2px;
}

.tabbable-line>.nav-tabs>li>a {
	border: 0;
	margin-right: 0;
	color: #737373;
}

.tabbable-line>.nav-tabs>li>a>i {
	color: #a6a6a6;
}

.tabbable-line>.nav-tabs>li.open, 
.tabbable-line>.nav-tabs>li:hover {
	border-bottom: 4px solid #fbcdcf;
}

.tabbable-line>.nav-tabs>li.open>a, 
.tabbable-line>.nav-tabs>li:hover>a {
	border: 0;
	background: none !important;
	color: #333;
}

.tabbable-line>.nav-tabs>li.open>a>i, 
.tabbable-line>.nav-tabs>li:hover>a>i {
	color: #a6a6a6;
}

.tabbable-line>.nav-tabs>li.open .dropdown-menu, 
.tabbable-line>.nav-tabs>li:hover .dropdown-menu {
	margin-top: 0px;
}

.tabbable-line>.nav-tabs>li.active {
	border-bottom: 4px solid #F3565D;
	position: relative;
}

.tabbable-line>.nav-tabs>li.active>a {
	border: 0;
	color: #333;
}

.tabbable-line>.nav-tabs>li.active>a>i {
	color: #404040;
}

.tabbable-line>.tab-content {
	margin-top: -3px;
	background-color: #fff;
	border: 0;
	border-top: 1px solid #eee;
	padding: 15px 0;
}

.portlet .tabbable-line>.tab-content {
	padding-bottom: 0;
}

/* ==========================================================================
Navbar messages dropdown.
========================================================================== */

.navbar-inverse {
    background-color: #f7f7f7;
    border-color: #e5e5e5;
}

.navbar-inverse .navbar-brand {
    color: #3d4549;
	font-weight: 700;
	text-transform: uppercase;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #3d4549;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #333333;
    background-color: #e6f1f6;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    color: #333333;
    background-color: #e6f1f6;
}

.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover {
    color: #333;
    background-color: #e6f1f6;
}

/* ==========================================================================
Announcement heading.
========================================================================== */

.table a.btn {
	padding: 0;
	margin: 0;
}

/* ==========================================================================
Widget Thumb
========================================================================== */

.bars, .chart, .pie {
    overflow: hidden;
    height: 300px;
    width: 100%;
    font-size: 14px;
}

.widget-thumb {
    padding: 20px;
    border-radius: 4px;
	margin-bottom: 20px;
}
.widget-bg-color-white {
    background: #fff;
}
.margin-bottom-20 {
    margin-bottom: 20px!important;
}

.widget-thumb .widget-thumb-heading {
    font-size: 14px;
    font-weight: 700;
    color: #8e9daa;
    margin: 0 0 20px;
}

.widget-thumb .widget-thumb-wrap .widget-thumb-icon {
    float: left;
    width: 60px;
    height: 60px;
    display: inline-block;
    font-size: 20px;
    line-height: 41px;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-right: 15px;
}

.widget-thumb .widget-thumb-body .widget-thumb-subtitle {
    padding-top: 2px;
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #8e9daa;
}

.widget-thumb .widget-thumb-body .widget-thumb-body-stat {
    display: block;
    font-size: 30px;
    font-weight: 600;
    color: #3e4f5e;
}

.bg-green, .bg-hover-green:hover {
	background: #32c5d2 !important;
}

.bg-hover-red:hover, .bg-red {
	background: #e7505a !important;
}

.bg-purple {
	background: #8E44AD !important;
}

.bg-hover-purple:hover {
	background: #8E44AD !important;
}

.bg-blue {
	background: #3598dc !important;
}

.bg-hover-blue:hover {
	background: #3598dc !important;
}